@model ProjectFY.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/Login.cshtml";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" style="margin-left:20%;">
            <h1>Login</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="UserPassword" class="control-label"></label>
            <input type="password" asp-for="UserPassword" class="form-control" />
            <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
    <div class="form-group">
        <label asp-for="UserRole" class="control-label"></label>
        <select asp-for="UserRole" class="form-control">
            <option value="" selected disabled>Please Select Role</option>
            <option value="1">Admin</option>
            <option value="2">User</option>
        </select>
        <span asp-validation-for="UserRole" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
    </form>
    <div>
        <p style="margin-left:20%">New User <a asp-action="RegisterUser" >Register Please?</a></p>
</div>
</div>
</div>


