@model ProjectFY.Models.User

@{
    ViewData["Title"] = "RegisterUser";
    Layout = "~/Views/Shared/Login.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterUser" style="margin-left:20%">
            <h1>Register</h1>
            <p>Please fill in this form to create an account.</p>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPassword" class="control-label"></label>
                <input type="password" asp-for="UserPassword" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
            <hr>
            <p>By creating an account you agree to our <a href="https://www.freeprivacypolicy.com/live/e3527caa-ce4d-4824-9cab-ba703545ecd3">Terms & Privacy</a>.</p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <p>Already have an account? <a asp-action="Login">Login </a></p>
            </div>
        </form>
    </div>
</div>


